.box {
  /* width: 80%; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.board-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}