<div class="component">

    <mat-label>Component: </mat-label>
    <mat-form-field class="input input-component" appearance="outline">

         <!-- 1 -->
        <!-- <mat-select [(value)]="selectedComponent" (selectionChange)="onSelectionChange($event.value)"> -->

        <!-- 2 -->
        <mat-select [(value)]="selectedComponent" (selectionChange)="onSelectionChange($event)">

            <mat-option *ngFor="let item of components" [value]="item">
                {{item}}
            </mat-option>

        </mat-select>
    </mat-form-field>



</div>