.box-of-boards {
    margin-left: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    margin-top: 2rem;
    margin-left: 20px;
    margin-bottom: 5rem;
    max-width: 500px;
    
}

.title > h2 {
    display: inline-block; 
    border-bottom: 2px solid black;
}