.board-container {
    display: flex;
    flex-direction: column;    
}

.board{
    display: flex;
    justify-content: flex-start;
    gap: 90px;
}

.add-component {
    font-size: 12px;
    max-width: 8rem;
    margin-bottom: 20px;
}

.input-board {
    width: 20rem;
}