.board-container {
    display: flex;
    flex-direction: column;    
    // width: 60%;
}

.board{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    // gap: 1rem;
    // justify-content: space-around;
}