<div>
    <h5>{{boardIndex + 1}}. Board </h5>

    <div class="board-container">

        <div class="board">
       
            <mat-label>Board: </mat-label>
            <mat-form-field class="input" appearance="outline">
                <mat-select [(value)]="selectedBoard" 
                (selectionChange)="onSelectionBoard($event.value)" 
                placeholder="select a board">
                    <mat-option *ngFor="let item of boards" [value]="item">
                        {{item.code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <app-board-component *ngFor="let component of components, let i = index", [componentIndex]= "i" />

        <button (click)="addNewComponent()" class="add-component btn btn-light btn-outline-danger">Add Component</button>
    </div>

</div>