.all-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input {
  margin-top: 1rem;
  width: 50%;
  font-size: 14px;
  margin-right: 10px;

}