<div class="show-container">

    <div class="container-filter">
    <div class="all-buttons">
        <!-- corrigir appearence-->
        <mat-form-field class="input" appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex Order" autocomplete="on">
        </mat-form-field>

        <button type="button" (click)="navigateTo()" class="btn btn-danger"> Create Order</button>

    </div>

    <table matSort mat-table [dataSource]="dataSource" class="table table-striped">


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>


<mat-paginator class="custom-paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of components" [length]="10" [pageSize]="10">
</mat-paginator>