<div class="box">

  <h2>
    <ng-container>
      Edit Component
    </ng-container>

  </h2>


  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="component-form">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <div style="margin-top: 20px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Save
      </button>
    </div>

  </form>

</div>